.suggestions{

position:sticky;

top:90px;

width:320px;

}

/* Current User */

.current-user{

display:flex;

align-items:center;

justify-content:space-between;

margin-bottom:28px;

}

.current-user img{

width:56px;

height:56px;

border-radius:50%;

object-fit:cover;

}

.current-info{

flex:1;

margin-left:14px;

}

.current-info h5{

display:flex;

align-items:center;

gap:5px;

font-size:14px;

margin:0;

font-weight:600;

}

.current-info span{

font-size:13px;

color:#8e8e8e;

}

.current-user button{

border:none;

background:none;

color:#0095f6;

font-weight:600;

cursor:pointer;

}

/* Header */

.suggestion-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:18px;

}

.suggestion-header span{

font-size:14px;

font-weight:600;

color:#8e8e8e;

}

.suggestion-header button{

border:none;

background:none;

font-weight:600;

cursor:pointer;

}

/* Suggestion */

.suggestion{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:18px;

}

.suggestion-left{

display:flex;

align-items:center;

}

.suggestion img{

width:42px;

height:42px;

border-radius:50%;

object-fit:cover;

}

.suggestion-left div{

margin-left:12px;

}

.suggestion-left h6{

display:flex;

align-items:center;

gap:5px;

margin:0;

font-size:14px;

font-weight:600;

}

.suggestion-left p{

margin:2px 0 0;

font-size:12px;

color:#8e8e8e;

}

.verified{

color:#0095f6;

font-size:15px;

}

/* Follow Button */

.suggestion button{

border:none;

background:none;

font-size:13px;

font-weight:600;

cursor:pointer;

color:#0095f6;

transition:.25s;

}

.following{

color:#444 !important;

}

/* Footer */

.sidebar-footer{

margin-top:30px;

}

.sidebar-footer p{

font-size:11px;

line-height:1.6;

color:#c7c7c7;

}

.sidebar-footer span{

font-size:11px;

color:#c7c7c7;

}

/* Responsive */

@media(max-width:1200px){

.suggestions{

display:none;

}

}