.slider{

position:relative;

width:100%;

overflow:hidden;

background:#000;

}

.slider-image{

width:100%;

display:block;

aspect-ratio:1/1;

object-fit:cover;

user-select:none;

}

/* Arrow */

.slider-btn{

position:absolute;

top:50%;

transform:translateY(-50%);

width:34px;

height:34px;

border:none;

border-radius:50%;

background:rgba(0,0,0,.55);

color:#fff;

display:flex;

justify-content:center;

align-items:center;

cursor:pointer;

font-size:20px;

transition:.25s;

z-index:10;

}

.slider-btn:hover{

background:rgba(0,0,0,.8);

}

.left{

left:12px;

}

.right{

right:12px;

}

/* Dots */

.slider-dots{

position:absolute;

bottom:14px;

left:50%;

transform:translateX(-50%);

display:flex;

gap:7px;

z-index:5;

}

.dot{

width:7px;

height:7px;

border-radius:50%;

background:rgba(255,255,255,.45);

transition:.25s;

}

.active{

background:#0095f6;

width:8px;

height:8px;

}

/* Mobile */

@media(max-width:768px){

.slider-btn{

width:30px;

height:30px;

font-size:18px;

}

.left{

left:8px;

}

.right{

right:8px;

}

.slider-dots{

bottom:10px;

}

}